.content {
    position: relative;
    top: 46rem;
    width: 100%;
    /* Ensure content takes up full width */
    max-width: 1200px;
    /* Set a maximum width for the content */
    margin: auto;


    /* Center the content horizontally */
}

.TagKeys {
    position: relative;
    top: 45rem;
    width: 100%;
    /* Ensure content takes up full width */
    max-width: 1200px;
    /* Set a maximum width for the content */
    margin: auto;
}

.OverviewSection {
    position: relative;
    top: 43rem;
    width: 100%;
    /* Ensure content takes up full width */
    max-width: 1200px;
    /* Set a maximum width for the content */
    margin: auto;
}

.PlacesNearby {
    position: relative;
    width: 100%;
    /* Ensure content takes up full width */
    max-width: 1200px;
    /* Set a maximum width for the content */
    margin: auto;
    top: 56rem;
    left: -12rem;
}

.AboutProperty {
    position: relative;
    width: 100%;
    /* Ensure content takes up full width */
    max-width: 1200px;
    /* Set a maximum width for the content */
    margin: auto;
    top: 57rem;
    left: -9rem;
}

.OwnerDetails {
    position: relative;
    width: 100%;
    /* Ensure content takes up full width */
    max-width: 1200px;
    /* Set a maximum width for the content */
    margin: auto;
    top: 69rem;
}

.heading {
    position: relative;
    top: 75rem;
    left: 27.5rem;
}

.SimiliarList {
    position: relative;
    width: 100%;
    /* Ensure content takes up full width */
    max-width: 1200px;
    /* Set a maximum width for the content */
    margin: auto;
    display: flex;
    top: 77rem;
    gap: 2rem;
    left: -3.5rem;
}



.body {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Ensure the page takes up the full viewport height */
    width: 100%;
    /* Ensure content takes up full width */
    max-width: 1200px;
    /* Set a maximum width for the content */
    margin: auto;
    /* Center the content horizontally */
}